@import "../../Variables_Styles/fonts.scss";
@import "../../Variables_Styles/variable.scss";

.about_hero_section {
  background: url("https://images.pexels.com/photos/1488327/pexels-photo-1488327.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem 0;
  position: relative;
  &::before {
    content: "";
    background: black;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
  }
  & h1 {
    margin: 6rem 0;
    font-size: $font_4xl;
    font-family: $font_ubuntu;
    color: $bg_color;
    text-shadow: 0px 0px 8px #000;
  }
  & h1::selection {
    background: none;
    color: white;
    text-shadow: none;
  }
}
.about_info_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .image_about {
    margin-right: 1rem;
    width: 100%;
    overflow: hidden;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  & .about_info {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    & h1 {
      font-family: $font_ubuntu;
      font-size: $font_lg;
    }
    & p {
      font-family: $font_ubuntu;
      color: #2c2c2c;
      font-size: $font_normal;
      letter-spacing: 1px;
      text-align: start;
    }
    & a {
      position: relative;
      top: 2rem;
      font-family: $font_ubuntu;
    }
  }
}
.about_cards_section {
  display: flex;
  justify-content: space-around;
  background: aliceblue;
  align-items: flex-start;
  .about_card_piece {
    height: fit-content;
    padding: 1rem;
    width: 100%;
    h1 {
      font-family: $font_ubuntu;
    }
    p {
      font-family: $font_ubuntu;
      letter-spacing: 1px;
      color: #28282b;
      font-weight: $font_heading;
      font-size: $font_normal;
    }
  }
}
@media screen and (max-width: 994px) {
  .about_hero_section {
    & h1 {
      font-size: $font_xl;
    }
  }
  .about_info_section {
    flex-direction: column;
  }
  .about_cards_section {
    flex-direction: column;
  }
}
@media screen and (max-width: 524px) {
  .about_hero_section {
    & h1 {
      font-size: $font_xl;
      margin: 0;
    }
  }
}
@media screen and (max-width: 313px) {
  .about_hero_section {
    & h1 {
      font-size: $font_lg;
      margin: 0;
    }
  }
  .about_info_section {
    flex-direction: column;
  }
}
@media screen and (max-width: 250px) {
  .main_about_container {
    visibility: hidden;
    background: $bg_color;
  }
}
