@import "../../Variables_Styles/fonts.scss";
@import "../../Variables_Styles/variable.scss";

.hero_section {
  height: fit-content;

  background: url("https://live.staticflickr.com/65535/53430993781_7cd5c304f0_c.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  .text_div {
    background: transparent;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & h1 {
      font-size: $font_4xl;
      text-align: center;
      color: $bg_color;
      font-family: $font_ubuntu;
      text-shadow: 0px 0px 8px #000;
      background: #00000079;
    }
  }
}
@media screen and (max-width: 800px) {
  .hero_section > .text_div > h1 {
    font-size: $font_2xl;
  }
}
@media screen and (max-width: 515px) {
  .hero_section > .text_div > h1 {
    font-size: $font_xl;
    text-align: start;
    padding: 0 1rem;
  }
}
@media screen and (max-width: 345px) {
  .hero_section > .text_div > h1 {
    font-size: $font_lg;
    text-align: start;
    padding: 0 1rem;
  }
}
@media screen and (max-width: 250px) {
  .home_container {
    visibility: hidden;
    background: #fff;
  }
}
