@import "../../Variables_Styles/fonts.scss";
.main_home_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
  height: 87vh;
  gap: 2rem;
  padding: 0 1rem;
  .moto {
    font-family: $font_heading;
    font-weight: 700;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & h3 {
      font-size: $font_xl;
      text-transform: uppercase;
    }
  }
  .carousel {
    overflow: hidden;
    height: 80vh;
    width: 100%;
  }
  img {
    user-select: none;
    -webkit-user-drag: none;
  }
}
@media screen and (max-width: 1200px) {
  .main_home_container .moto {
    position: absolute;
    left: 1rem;
    z-index: 98;
    background: none;
    backdrop-filter: blur(2px);
    width: 98%;
    & h3 {
      font-size: $font_xl;
      -webkit-text-stroke: 0.4px white;
      font-weight: 700;
      padding: 2rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .main_home_container .moto > h3 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 368px) {
  .main_home_container .moto > h3 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 325px) {
  .main_home_container .moto > h3 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 250px) {
  .main_home_container {
    visibility: hidden;
    background: #fff;
  }
}
