@import "../../Variables_Styles/fonts.scss";
.main_header {
  height: 5.5rem;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.logo > h1 > a {
  font-family: $font_logo;
  color: #000;
  height: 50px;
  width: 50px;
  overflow: hidden;
  & img {
    width: 70px;
    height: 100%;
    position: relative;
    top: 1rem;
    object-fit: contain;
  }
}
@media screen and (max-width: 768px) {
  .main_header {
    padding: 1rem 2rem;
  }
  .logo > h1 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 325px) {
  .logo > h1 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 250px) {
  .main_header {
    display: none;
  }
}
