@import url("https://fonts.googleapis.com/css2?family=Freehand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
$font_logo: "Freehand", cursive;
$font_ubuntu: "Ubuntu", sans-serif;
$font_heading: 700;
$font_regular: 400;
$font_5xl: 7rem;
$font_4xl: 6rem;
$font_3xl: 5rem;
$font_2xl: 4rem;
$font_xl: 3rem;
$font_lg: 2rem;
$font_md: 1.5rem;
$font_normal: 1.2rem;
$font_sm: 0.8rem;
