@import url("https://fonts.googleapis.com/css2?family=Freehand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap");
$font_logo: "Freehand", cursive;
$font_heading: "Kanit", sans-serif;
$font_regular: "Kanit", sans-serif;
