@import "./variable.scss";
@import "./fonts.scss";
.nav_shadow {
  box-shadow: -3px 7px 23px 0px #000000bf;
  -webkit-box-shadow: -3px 7px 23px 0px #000000bf;
  -moz-box-shadow: -3px 7px 23px 0px #000000bf;
  background: $bg_color;
}
.shadow {
  box-shadow: -3px 7px 42px -7px #000000bf;
  -webkit-box-shadow: -3px 7px 42px -7px #000000bf;
  -moz-box-shadow: -3px 7px 42px -7px #000000bf;
}
.btn {
  font-size: $font_normal;
  padding: 0.7rem 1.2rem;
  background: $primary_color;
  color: $bg_color;
  font-family: $font_regular;
  text-decoration: none;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
  }
  &:active {
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
  }
}
a {
  text-decoration: none;
}
.invisible {
  display: none;
}
.visible {
  display: inline;
}
