@import "../../../Variables_Styles/fonts.scss";
@import "../../../Variables_Styles/variable.scss";

.home_section_2 {
  & .our_services {
    text-align: center;
    font-family: $font_ubuntu;
    border-bottom: 2px solid black;
    margin: 1rem;
    padding: 0.5rem;
  }

  & .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    align-items: center;
    & .card {
      margin: 0.4rem;
      height: 280px;
      background: #dbdbdb;
      color: $text_color;
      width: 1fr;
      padding: 0.5rem;
      transition: all 0.3s ease;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      & .card_head {
        font-family: $font_ubuntu;
        text-align: center;
      }
      & .card_body {
        @extend .card_head;
        font-weight: 500;
        margin: 0.5rem 0;
      }
      &:hover {
        transition: all 0.3s ease;
        background: #28282b;
        color: #daa520;
        border-radius: 20px;
        cursor: pointer;
      }
    }
  }
}
