* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  & a {
    user-select: none;
  }
}
@media screen and (max-width: 768px) {
  * {
    user-select: none;
    -webkit-user-drag: none;
  }
}
::-webkit-scrollbar-track {
  background: #80808083;
  width: 50px;
}
::-webkit-scrollbar-thumb {
  box-shadow: 2px 2px 4px #888888;

  background-color: #fff;
  width: 40px;
  border-radius: 30px;
}
::-webkit-scrollbar {
  height: 20px;
}
