@import "../../../Variables_Styles/fonts.scss";
@import "../../../Variables_Styles/variable.scss";
.navLinks {
  font-family: $font_ubuntu;
  font-weight: 400;

  .services_route {
    position: relative;
    &:focus {
      text-decoration: underline;
    }
    & .servicesText {
      position: relative;
      padding: 0.4rem 1rem;
      & .drop_icon {
        position: absolute;
        right: 0;
        bottom: 0.4rem;
      }
    }
    :focus {
      text-decoration: none;
    }
    & .dropdown_controller {
      transition: all 0.3s ease;
      box-shadow: 0px 0px 1px #888888;
      background: $bg_color;
      position: absolute;
      display: none;
      height: fit-content;
      left: 50%;
      top: 5.5rem;
      transform: translate(-50%, -50%);
    }
    &:hover {
      transition: all 0.3s ease;
      & .dropdown_controller {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: fit-content;

        & a {
          padding: 0.4rem 1rem;
          text-transform: capitalize;
          width: 100%;
          text-align: center;
          font-size: 1rem;

          transition: all 0.3s ease;
          &:hover {
            background: blueviolet;
            transition: all 0.3s ease;
            color: white;
          }
        }
      }
    }
  }
  & span {
    & a {
      text-decoration: none;
      margin: 0 2rem;
      font-size: $font_normal;
      transition: all 0.4s linear;
      padding-bottom: 0.4rem;
      color: #000;

      &:hover {
        transition: all 0.4s linear;
        opacity: 0.7;
        transition: all 0.4s linear;
      }
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
.bars {
  display: none;
}

// for smaller devices
@media screen and (max-width: 1100px) {
  .closer_div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #00000085;
    z-index: 10;
  }
  @mixin navlink_mobile_props {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    background: $bg_color;
    box-shadow: -3px 7px 42px -7px #000000bf;
    -webkit-box-shadow: -3px 7px 42px -7px #000000bf;
    -moz-box-shadow: -3px 7px 42px -7px #000000bf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 16rem;
    overflow: hidden;
    z-index: 11;
    & span {
      margin: 2rem 0;
      & a {
        color: $text_color;
      }
    }
  }
  .navLinks_mobile {
    @include navlink_mobile_props;
    transform: translateX(0);
    transition: all 0.3s ease;
  }
  .navLinks_hidden {
    @include navlink_mobile_props;
    transform: translateX(-200%);
    transition: all 0.3s ease;
  }
  .bars {
    display: inline;
    font-size: 30px;
    position: relative;
    z-index: 11;
  }
}
@media screen and (max-width: 10068px) and (max-height: 400px) {
  .navLinks_mobile {
    width: 100%;
    flex-direction: row;
    overflow: auto;
    & span {
      margin: -0.7rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .bars {
    right: 0.4rem;
  }
}
